<!DOCTYPE html>
<html>

<head>
  <title>My Awesome Login Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!--Coded with love by Mutiullah Samim-->
<body style="height: 100vh">
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <h1 class="signin-title">Venda em nossa plataforma</h1>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form>
            <label>Dados da empresa</label>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-address-card"></i></span>
                  </div>
                  <input type="text" name="nomeFantasia" class="form-control input_user" value="" placeholder="Nome fantasia" [(ngModel)]="nomeFantasia" required>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-building"></i></span>
                  </div>
                  <input type="string" name="cnpj" class="form-control input_pass" value="" placeholder="CNPJ" [(ngModel)]="cnpj" required>
                </div>
              </div>
            </div>
            <label>Contatos</label>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                  </div>
                  <input type="email" name="email" class="form-control input_user" value="" placeholder="Email" [(ngModel)]="email" required>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" name="phone" class="form-control input_user" value="" placeholder="Telefone" [(ngModel)]="phone" required>
                </div>
              </div>
            </div>
            <label>Informações de autenticação</label>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" name="username" class="form-control input_user" value="" placeholder="Nome de usuario" [(ngModel)]="username" required>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" name="senha" class="form-control input_pass" value="" placeholder="Senha" [(ngModel)]="password" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" name="confSenha" class="form-control input_pass" value="" placeholder="Confirmar senha" [(ngModel)]="confPassword" required>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
          <div class="next_button">
            <button type="button" name="button" class="btn login_btn" (click)="signupBrewery()">Criar minha conta</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
