.user_card {
  height: 400px;
  width: 600px;
  margin-top: auto;
  margin-bottom: auto;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border:solid 1.5px;
  border-color: #e25417;
}

.login_btn {
  background: #00a116 !important;
  color: white !important;
  font-weight: bold;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.total_value{
  font-size: 30px;
}

.payment_border_title{
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #AAA;
  padding-top: 5px;
  padding-bottom: 5px;
}

.payment_border_body{
  border-right: solid 1px; 
  border-color: #AAA;
}

.payment-logo{
  height: 80px;
  padding: 10px;
  width: 160px;
  margin: 0 auto;
}

.payment-logo:hover{
  border-radius: 10px;
  background-color: rgb(170, 170, 170, 0.3)
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
  }
  
  a {
    color: #2B2D42;
    font-weight: 500;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }
  
  a:hover, a:focus {
    color: #b9420f;
    text-decoration: none;
    outline: none;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
  }
  
  /*----------------------------*\
      Section
  \*----------------------------*/
  
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .section-title {
    position: relative;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  
  .section-title .title {
    display: inline-block;
    text-transform: uppercase;
    margin: 0px;
  }
  
  .section-title .section-nav {
    float: right;
  }
  
  .section-title .section-nav .section-tab-nav {
    display: inline-block;
  }
  
  .section-tab-nav li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .section-tab-nav li:last-child {
    margin-right: 0px;
  }
  
  .section-tab-nav li a {
    font-weight: 700;
    color: #8D99AE;
  }
  
  .section-tab-nav li a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #b9420f;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .section-tab-nav li.active a {
    color: #b9420f;
  }
  
  .section-tab-nav li a:hover:after, .section-tab-nav li a:focus:after, .section-tab-nav li.active a:after {
    width: 100%;
  }
  
  .section-title .section-nav .products-slick-nav {
    top: 0px;
    right: 0px;
  }
  
  /*----------------------------*\
      Breadcrumb
  \*----------------------------*/
  
  #breadcrumb {
    padding: 30px 0px;
    background: #FBFBFC;
    border-bottom: 1px solid #E4E7ED;
    margin-bottom: 30px;
  }
  
  #breadcrumb .breadcrumb-header {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    text-transform: uppercase;
  }
  
  #breadcrumb .breadcrumb-tree {
    display: inline-block;
  }
  
  #breadcrumb .breadcrumb-tree li {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  #breadcrumb .breadcrumb-tree li+li {
    margin-left: 10px;
  }
  
  #breadcrumb .breadcrumb-tree li+li:before {
    content: '/';
    display: inline-block;
    color: #8D99AE;
    margin-right: 10px;
  }
  
  #breadcrumb .breadcrumb-tree li a {
    color: #8D99AE;
  }
  
  #breadcrumb .breadcrumb-tree li a:hover {
    color: #b9420f;
  }