<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
		<ngb-carousel *ngIf="images">
			<ng-template ngbSlide *ngFor="let img of images">
			  <div class="picsum-img-wrapper">
				<img class="slide" [src]="img" alt="Banner">
			  </div>
			  <div class="carousel-caption">
				<div class="hot-deal">
					<h2 class="text-uppercase">Ofertas inéééditas como você nunca viu!</h2>
					<p>50% de desconto Somente nessa semana.</p>
					<button class="primary-btn cta-btn">Aproveite</button>
				</div>
			  </div>
			</ng-template>
		</ngb-carousel>
	</body>
</html>