<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
    <body>
        <!-- HEADER -->
        <header>
            <!-- TOP HEADER -->

            <!-- /TOP HEADER -->

            <!-- MAIN HEADER -->
            <div id="header">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!-- LOGO -->
                        <div class="col-md-2">
                            <div class="header-logo">
                                <a href="#" class="logo">
                                    <img src="../assets/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- /LOGO -->

                        <!-- SEARCH-->
                        <div class="col-md-7">
                            <div class="header-search">
                                <form>
                                    <select class="input-select">
                                        <option value="0">Cervejaria</option>
                                        <option value="1">Cervejaria 01</option>
                                        <option value="1">Cervejaria 02</option>
                                    </select>
                                    <input class="input" placeholder="Search here">
                                    <button class="search-btn">Pesquisar</button>
                                </form>
                            </div>
                        </div>
                        <!-- /SEARCH-->

                        <!-- ACCOUNT -->
                        <div class="col-md-3">
                            <div class="header-ctn">
                                <div class="top-header">
                                    <div class="container">
                                        <ul class="header-links pull-right">
                                            <li><a href="/profile"><i class="fa fa-user-o"></i> Minha Conta</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Wishlist -->
                                <div class="bottom-header">
                                    <a href="#">
                                        <i class="fa fa-heart-o"></i>
                                        <span>Desejos</span>
                                        <div class="qty">2</div>
                                    </a>
                                </div>
                                <!-- /Wishlist -->

                                <!-- Cart -->
                                <div class="dropdown">
                                    <a (click)="open()" data-target="navbarNavDropdown" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Carrinho</span>
                                        <div class="qty">{{produtos.length}}</div>
                                    </a>
                                    <div class="cart-dropdown open" *ngIf="show" aria-labelledby="navbarDropdown" id="navbarNavDropdown">
                                        <div class="cart-list"> 
                                            <div class="product-widget" *ngFor="let produto of produtos">
                                                <div class="product-img">
                                                    <img src="../assets/product01.png" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-name"><a href="/cerveja/{{produto.id}}">{{produto.produto.nome}}</a></h3>
                                                    <h4 class="product-price"><span class="qty">1x</span>${{produto.produto.valor}},00</h4>
                                                </div>
                                                <div>
                                                    <button class="delete" (click)="removeItem()"><i class="fa fa-close"></i></button>                                            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-summary">
                                            <small>{{produtos.length}} Item(s) selected</small>
                                            <h5>SUBTOTAL: ${{total()}}</h5>
                                        </div>
                                        <div class="cart-btns">
                                            <a href="/checkout">Ver carrinho</a>
                                            <a href="/pagamento">Fechar pedido</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Cart -->

                                <!-- Menu Toogle -->
                                <div class="menu-toggle">
                                    <a href="#">
                                        <i class="fa fa-bars"></i>
                                        <span>Menu</span>
                                    </a>
                                </div>
                                <!-- /Menu Toogle -->
                            </div>
                        </div>
                        <!-- /ACCOUNT -->
                    </div>
                    <div class="row">
                    
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- /MAIN HEADER -->
        </header>
        <!-- /HEADER -->
    </body>
</html>
        