<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <title>Get a Beer</title>
  </head>
  <body>
      <div class="app conteiner" style="display: grid">
        <!--<div class="row">
          <div class="col-xl">
              <app-header></app-header>
          </div>
        </div>
        <div class="row">
          <div class="">
            <app-caroseul></app-caroseul>
          </div>
        </div>-->
        <div class="row">
          <div class="col-xl">
            <router-outlet></router-outlet>
          </div>
        </div>  
      </div>
  </body>
</html>



