<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Get a Beer</title>
    </head>
	<body>
		<!-- HEADER -->
		<app-header></app-header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<app-navigation></app-navigation>
		<!-- /NAVIGATION -->

		<!-- CAROUSEL SECTION -->
		<app-carousel-section></app-carousel-section>
		<!-- /CAROUSEL SECTION -->
		
		<!-- SECTION -->
		<app-section></app-section>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<app-newsletter></app-newsletter>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<app-footer></app-footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
